/* Reset */
/* Reset Global*/
html,
body {
    margin: 0;
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-x: hidden;
    top: 0;
}

/* Global */
.row {
    flex-wrap: nowrap;
}

.titulo {
    font-size: 7vh;
    padding: 5vh;
    font-weight: bolder;
}

/* Grid */
body {
    display: grid;
    grid-template-areas:
        "header"
        "main";
    grid-template-columns: 1fr;
    grid-template-rows: 11vh 1fr;
    min-height: 100%;
}

/* Header */
header {
    width: 100%;
    background-color: #86b9f6;
    grid-area: header;
    position: fixed;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 11vh;
}

/* MAIN */
main {
    grid-area: main;
    padding: 0 2vh 5vh 2vh;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
}

#cont-productos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vh;
}

#cont-carrito {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5vh;
}

.card {
    border-radius: 10px;
    width: 15rem;
}

.card:hover {
    box-shadow: 0 0 5px 5px rgba(116, 116, 116, 0.442);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.card-body {
    background-color: #000c;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

/* Dark mode */
.tx-white {
    color: #fff;
}

.bg-negro {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Carrito */
.offcanvas-title {
    font-size: 2.5rem;
    padding: 1vh;
}

.card-carrito {
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 20px;
}

.card-carrito:hover {
    box-shadow: none;
}

.card-body-carrito {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 10px 10px 0;
    padding-left: 5px;
    height: 100%;
}

.carrito-footer {
    display: flex;
    justify-content: space-between;
}

#cont-sumaCarrito {
    display: flex;
    justify-content: space-between;
}

.img-card {
    height: 100%;
    border-radius: 0 0 10px 10px;
}